.regions-page {
    background:skyblue;
    display: flex;
    justify-content: space-between;
}

.regions-nav {
    display: flex;
    flex-direction: column;
    background: blue;
    width: 20rem;
    text-align: center;
    margin-right: 2rem;
}

.regions-nav > h1 {
    color: white;
    text-decoration: underline;
}


.region-content {
    width: fit-content;
}

.regions-navlink-active {
    font-weight: bold;
    border: 2px solid white;
    color: white;
    font-size: medium;
    font-family: sans-serif;
    margin-right: 1rem;
    margin-left: 1rem;
    &:hover {
        cursor: pointer;
    }
}

.regions-navlink-inactive {
    font-weight: 400;
    border: 2px solid transparent;
    color: white;
    font-size: medium;
    font-family: sans-serif;
    margin: .2rem;
    margin-right: 1rem;
    &:hover {
        cursor: pointer;
    }

}


.region-section-title {
    text-align: center;
    text-decoration: underline;
}

.region-nation {
    background: lightblue;
    padding: 1rem;
    border-radius: 2px;
}
.region-nation-subsection-title{
    font-style: italic;
}

.bold {
    font-weight: bolder;
}
.region-paragraph {
    padding: 1rem;
    word-wrap: wrap;
    font-size: 18px;
    font-weight: 600;
    margin: .2rem;
}

body {
    font-family: sans-serif;
}